<% content_for :page_title do %>
  <%= Spree.t('active_sale.title.new') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t('active_sale.link.back'), collection_url, :icon => 'icon-arrow-left', :id => 'back_to_active_sales_link' %>
  </li>
<% end %>

<div data-hook="admin_active_sale_new_form">
  <div id="active-sale-form-wrapper">
    <%= render :partial => 'form' %>
  </div>
</div>
