<% content_for :sidebar_title do %>
  <span class="name"><%= @active_sale_event.name %></span>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav flex-column nav-pills" data-hook="admin_order_tabs">
    <% if can? :update, @active_sale_event %>
      <li data-hook='admin_order_tabs_channel_details'>
        <%= link_to_with_icon 'edit.svg',
          Spree.t('active_sale.event.details'),
          edit_admin_active_sale_active_sale_event_url(@active_sale, @active_sale_event),
          class: "#{'active' if current == 'Sale Event Details'} nav-link" %>
      </li>
    <% end %>

    <% if can? :update, @active_sale_event %>
      <li data-hook='admin_order_tabs_channel_details'>
        <%= link_to_with_icon 'images.svg',
          Spree.t(:images),
          admin_active_sale_active_sale_event_sale_images_url(@active_sale, @active_sale_event),
          class: "#{'active' if current == 'Sale Event Images'} nav-link" %>
      </li>
    <% end %>

    <% if can? :update, @active_sale_event %>
      <li data-hook='admin_order_tabs_channel_details'>
        <%= link_to_with_icon 'items.svg',
          Spree.t('active_sale.event.sale_products'),
          admin_active_sale_active_sale_event_sale_products_url(@active_sale, @active_sale_event),
          class: "#{'active' if current == 'Sale Event Products'} nav-link" %>
      </li>
    <% end %>
  </ul>

<% end %>
